{% extends 'base.html' %}

{% block title %} iCoder {% endblock title %}

{% block body %}
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4">Hello, I am Chetan!</h1>
        <p class="lead">A Python (Django) focused Web Developer building Websites and Web Applications that leads to the success of the overall product.</p>
        <hr class="my-4">
        <p>I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/blog/" role="button">Go To Blog</a>
        </p>
    </div>
</div>
{% endblock body %}